@media only screen and (max-width: 1200px) {
    body {
        font-size: 14px;
    }
    .container {
        padding: 20px;
    }
}

@media only screen and (max-width: 992px) {
    .header {
        flex-direction: column;
    }
    .nav {
        display: block;
    }
}

@media only screen and (max-width: 768px) {
    .sidebar {
        display: none;
    }
    .main-content {
        width: 100%;
    }
}

@media only screen and (max-width: 576px) {
    .footer {
        text-align: center;
    }
    .btn {
        width: 100%;
        padding: 10px;
    }
}